{
  "plugins": [
    [
      "import",
      {
        "libraryName": "@ant-design/react-native"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}